In [1]:
import pandas as pd
import datetime as dt

# Review of python's `datetime` Module

In [2]:
someday = dt.date(2010, 1, 12)

In [3]:
someday.year
someday.month
someday.day

12

In [4]:
str(someday)

'2010-01-12'

In [5]:
sometime = dt.datetime(2010,1,10,17,13,57)
str(sometime)

'2010-01-10 17:13:57'

In [6]:
sometime.hour
sometime.minute
sometime.second

57

# The pandas `Timestamp` object

In [7]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [8]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [9]:
pd.Timestamp('2015, 03, 31')

Timestamp('2015-03-31 00:00:00')

In [10]:
pd.Timestamp('31/03/2015')

Timestamp('2015-03-31 00:00:00')

In [11]:
pd.Timestamp('4/3/2015') # error

Timestamp('2015-04-03 00:00:00')

In [12]:
pd.Timestamp('2021/3/8 8:35:14 PM')

Timestamp('2021-03-08 20:35:14')

# The pandas `DateTimeIndex` object

In [13]:
dates = ['2014/02/12', '2012/11/12', '2009/02/13']
pd.DatetimeIndex(dates)

DatetimeIndex(['2014-02-12', '2012-11-12', '2009-02-13'], dtype='datetime64[ns]', freq=None)

In [14]:
dates = [dt.date(2013,1,19), dt.date(1992,2,12), dt.date(2003,12,12)]
dtIndex = pd.DatetimeIndex(dates)

In [15]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2013-01-19    100
1992-02-12    200
2003-12-12    300
dtype: int64

# Create range of dates with the `pd.date_range()` method, part 1

In [16]:
# Choose a start and an end, freq D is by day
times = pd.date_range(start='2018-01-01', end='2018-01-10', freq='D')
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
type(times[0])

pandas._libs.tslib.Timestamp

In [18]:
# Choose a start and an end, freq 2D is 2 days
times = pd.date_range(start='2018-01-01', end='2018-01-10', freq='2D')

In [19]:
# Choose freq='B' to count bussiness days 
times = pd.date_range(start='2018-01-01', end='2018-01-10', freq='B')
times

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='B')

In [20]:
# Choose freq='W' to count by week, by default the first day is SUNDAY ('W-SUN') wich can be changed ('W-FRI)
times = pd.date_range(start='2018-01-01', end='2018-01-15', freq='W')
times
pd.date_range(start='2018-01-01', end='2018-01-15', freq='W-FRI')

DatetimeIndex(['2018-01-05', '2018-01-12'], dtype='datetime64[ns]', freq='W-FRI')

In [21]:
# Choose freq='H' to each hout in a day
times = pd.date_range(start='2018-01-01', end='2018-01-15', freq='2H')
times

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 02:00:00',
               '2018-01-01 04:00:00', '2018-01-01 06:00:00',
               '2018-01-01 08:00:00', '2018-01-01 10:00:00',
               '2018-01-01 12:00:00', '2018-01-01 14:00:00',
               '2018-01-01 16:00:00', '2018-01-01 18:00:00',
               ...
               '2018-01-14 06:00:00', '2018-01-14 08:00:00',
               '2018-01-14 10:00:00', '2018-01-14 12:00:00',
               '2018-01-14 14:00:00', '2018-01-14 16:00:00',
               '2018-01-14 18:00:00', '2018-01-14 20:00:00',
               '2018-01-14 22:00:00', '2018-01-15 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='2H')

In [22]:
# Choose freq='M' returns the month ends, use 'MS' to use moth start
times = pd.date_range(start='2016-01-01', end='2017-01-01', freq='MS')
times

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [23]:
# Choose freq='A' returns the last day of each year, with DEC as default
times = pd.date_range(start='2016-01-01', end='2020-01-01', freq='A')
times

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31'], dtype='datetime64[ns]', freq='A-DEC')

# Create range of dates with the `pd.date_range()` method, part2

In [24]:
pd.date_range(start='2012-09-09', periods=25, freq='D')

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [25]:
pd.date_range(start='2012-09-09', periods=25, freq='B') #Bussiness days

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [26]:
pd.date_range(start='2012-09-09', periods=25, freq='W')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range(start='2012-09-09', periods=25, freq='H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00'],
              dtype='datetime64[ns]', freq='H')

# Create range of dates with the `pd.date_range()` method, part3

In [28]:
pd.date_range(end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

# The `.dt` acessor

In [29]:
bunch_of_dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')
s = pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [30]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [31]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
5       4
6       5
7       6
8       7
9       8
10      8
11      9
12     10
13     11
14     12
15     12
16      1
17      2
18      3
19      4
20      4
21      5
22      6
23      7
24      7
25      8
26      9
27     10
28     11
29     11
       ..
138     1
139     2
140     3
141     4
142     5
143     5
144     6
145     7
146     8
147     8
148     9
149    10
150    11
151    12
152    12
153     1
154     2
155     3
156     4
157     4
158     5
159     6
160     7
161     7
162     8
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [32]:
s.dt.year

0      2000
1      2000
2      2000
3      2000
4      2000
5      2000
6      2000
7      2000
8      2000
9      2000
10     2000
11     2000
12     2000
13     2000
14     2000
15     2000
16     2001
17     2001
18     2001
19     2001
20     2001
21     2001
22     2001
23     2001
24     2001
25     2001
26     2001
27     2001
28     2001
29     2001
       ...
138    2009
139    2009
140    2009
141    2009
142    2009
143    2009
144    2009
145    2009
146    2009
147    2009
148    2009
149    2009
150    2009
151    2009
152    2009
153    2010
154    2010
155    2010
156    2010
157    2010
158    2010
159    2010
160    2010
161    2010
162    2010
163    2010
164    2010
165    2010
166    2010
167    2010
Length: 168, dtype: int64

In [33]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [34]:
mask = s.dt.is_month_start
s[mask].head()

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
dtype: datetime64[ns]

# Import financial data set with `pandas_datareader` library

In [35]:
from pandas_datareader import data

In [36]:
company = 'MSFT'
start = '2010-01-01' 
end = '2018-01-27'
# data_source='google' didn't work to me
stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stocks.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  25.148876  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  25.157001  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  25.002611  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  24.742592  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  24.913233  51197400

In [37]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2018-01-12', '2018-01-16', '2018-01-17', '2018-01-18',
                '2018-01-19', '2018-01-22', '2018-01-23', '2018-01-24',
                '2018-01-25', '2018-01-26'],
               dtype='datetime64[ns]', name='Date', length=2031, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

# Selecting from a `DataFrame` with a `DataTimeIndex`

In [38]:
stocks.loc['2014-03-04']
stocks.iloc[300]
stocks.ix['2014-03-04']
stocks.ix[300]

/home/george/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

Open         2.549000e+01
High         2.576000e+01
Low          2.535000e+01
Close        2.569000e+01
Adj Close    2.143550e+01
Volume       5.447340e+07
Name: 2011-03-14 00:00:00, dtype: float64

In [39]:
stocks.loc['2013-10-01':'2013-10-07']
stocks.ix['2013-10-01':'2013-10-07']

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  30.064585  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  30.368986  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  30.315264  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  30.333172  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  29.813894  35069300

In [40]:
birthdays = pd.date_range(start='1991-08-07', end='2017-08-07', freq=pd.DateOffset(years=1))
mask = stocks.index.isin(birthdays)
stocks.loc[mask]

                 Open       High        Low      Close  Adj Close    Volume
Date
2012-08-07  30.070000  30.350000  29.870001  30.260000  26.106972  28002900
2013-08-07  31.540001  32.099998  31.250000  32.060001  28.502857  38078600
2014-08-07  42.840000  43.450001  42.650002  43.230000  39.567490  30314900
2015-08-07  46.389999  46.779999  46.259998  46.740002  43.910629  19163000
2017-08-07  72.800003  72.900002  72.260002  72.400002  71.656448  18705700

# `Timestamp` Object Attributes

In [41]:
someday = stocks.index
someday.day
someday.month
someday.year
someday.weekday_name
someday.is_month_end
someday.is_month_start

array([False, False, False, ..., False, False, False], dtype=bool)

In [42]:
# add new column
stocks.insert(0, 'Day of Week', stocks.index.weekday_name)

In [43]:
stocks.insert(1, 'Is Start of Month', stocks.index.is_month_start)

In [44]:
stocks[stocks['Is Start of Month']]

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-02-01,Monday,True,28.389999,28.480000,27.920000,28.410000,23.084957,85931100
2010-03-01,Monday,True,28.770000,29.049999,28.530001,29.020000,23.690893,43805400
2010-04-01,Thursday,True,29.350000,29.540001,28.620001,29.160000,23.805187,74768100
2010-06-01,Tuesday,True,25.530001,26.309999,25.520000,25.889999,21.231052,76152400
2010-07-01,Thursday,True,23.090000,23.320000,22.730000,23.160000,18.992315,92239400
2010-09-01,Wednesday,True,23.670000,23.950001,23.540001,23.900000,19.703693,65235900
2010-10-01,Friday,True,24.770000,24.820000,24.299999,24.379999,20.099426,62672300
2010-11-01,Monday,True,26.879999,27.219999,26.700001,26.950001,22.218191,61912100
2010-12-01,Wednesday,True,25.570000,26.250000,25.559999,26.040001,21.599871,74123500
2011-02-01,Tuesday,True,27.799999,28.059999,27.610001,27.990000,23.217369,62810700
2011-03-01,Tuesday,True,26.600000,26.780001,26.150000,26.160000,21.827667,60055000
2011-04-01,Friday,True,25.530001,25.530001,25.309999,25.480000,21.260283,63114200
2011-06-01,Wednesday,True,24.990000,25.100000,24.370001,24.430000,20.517782,74033500
2011-07-01,Friday,True,25.930000,26.170000,25.840000,26.020000,21.853161,52906200
2011-08-01,Monday,True,27.510000,27.690001,26.750000,27.270000,22.902981,61838400
2011-09-01,Thursday,True,26.459999,26.860001,26.209999,26.209999,22.151670,60510800
2011-11-01,Tuesday,True,26.190001,26.320000,25.860001,25.990000,21.965734,61182600
2011-12-01,Thursday,True,25.559999,25.629999,25.200001,25.280001,21.526558,48545400
2012-02-01,Wednesday,True,29.790001,30.049999,29.760000,29.889999,25.452087,67409900
2012-03-01,Thursday,True,31.930000,32.389999,31.850000,32.290001,27.676762,77344100
2012-05-01,Tuesday,True,32.049999,32.340000,31.950001,32.009998,27.436764,43832300
2012-06-01,Friday,True,28.760000,28.959999,28.440001,28.450001,24.545383,56634300
2012-08-01,Wednesday,True,29.590000,29.650000,29.209999,29.410000,25.373625,31721800
2012-10-01,Monday,True,29.809999,29.980000,29.420000,29.490000,25.611202,54042700
2012-11-01,Thursday,True,28.840000,29.559999,28.820000,29.520000,25.637255,72047900
2013-02-01,Friday,True,27.670000,28.049999,27.549999,27.930000,24.455706,55565900
2013-03-01,Friday,True,27.719999,27.980000,27.520000,27.950001,24.675844,34849700
2013-04-01,Monday,True,28.639999,28.660000,28.360001,28.610001,25.258524,29201100
2013-05-01,Wednesday,True,32.930000,33.080002,32.599998,32.720001,28.887070,54330900
2013-07-01,Monday,True,34.750000,34.990002,34.330002,34.360001,30.547678,31055400
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,True,41.150002,41.590000,41.070000,41.419998,37.645252,32605000
2014-05-01,Thursday,True,40.240002,40.360001,39.950001,40.000000,36.354660,28787400
2014-07-01,Tuesday,True,41.860001,42.150002,41.689999,41.869999,38.322708,26917000
2014-08-01,Friday,True,43.209999,43.250000,42.599998,42.860001,39.228836,31170300
2014-10-01,Wednesday,True,46.270000,46.529999,45.849998,45.900002,42.273682,38088400
2014-12-01,Monday,True,47.880001,48.779999,47.709999,48.619999,45.061207,31191600
2015-04-01,Wednesday,True,40.599998,40.759998,40.310001,40.720001,38.008038,36752000
2015-05-01,Friday,True,48.580002,48.880001,48.400002,48.660000,45.419231,38937300
2015-06-01,Monday,True,47.060001,47.770000,46.619999,47.230000,44.370968,28837300
2015-07-01,Wednesday,True,44.459999,45.230000,44.099998,44.450001,41.759251,28343900
2015-09-01,Tuesday,True,42.169998,42.590000,41.660000,41.820000,39.547535,49688900
2015-10-01,Thursday,True,44.750000,44.750000,43.750000,44.610001,42.185936,28657900
2015-12-01,Tuesday,True,54.410000,55.230000,54.299999,55.220001,52.571377,39952800
2016-02-01,Monday,True,54.880001,55.090000,54.500000,54.709999,52.085831,44208500
2016-03-01,Tuesday,True,50.970001,52.590000,50.919998,52.580002,50.417416,33024500
2016-04-01,Friday,True,55.049999,55.610001,54.570000,55.570000,53.284435,24399200
2016-06-01,Wednesday,True,52.439999,52.950001,52.439999,52.849998,51.030754,25324800
2016-07-01,Friday,True,51.130001,51.720001,51.070000,51.160000,49.398933,21400400
2016-08-01,Monday,True,56.599998,56.750000,56.139999,56.580002,54.632366,26003400
2016-09-01,Thursday,True,57.009998,57.820000,57.009998,57.590000,55.954170,26075400
2016-11-01,Tuesday,True,59.970001,60.020000,59.250000,59.799999,58.101402,24533000
2016-12-01,Thursday,True,60.110001,60.150002,58.939999,59.200001,57.907009,34542100
2017-02-01,Wednesday,True,64.360001,64.620003,63.470001,63.580002,62.191349,39671500
2017-03-01,Wednesday,True,64.129997,64.989998,64.019997,64.940002,63.906754,26937500
2017-05-01,Monday,True,68.680000,69.550003,68.500000,69.410004,68.305626,31954400
2017-06-01,Thursday,True,70.239998,70.610001,69.449997,70.099998,69.380058,21603600
2017-08-01,Tuesday,True,73.099998,73.419998,72.489998,72.580002,71.834595,22132300
2017-09-01,Friday,True,74.709999,74.739998,73.639999,73.940002,73.570526,21736200
2017-11-01,Wednesday,True,83.680000,83.760002,82.879997,83.180000,82.764351,22307400
2017-12-01,Friday,True,83.599998,84.809998,83.220001,84.260002,84.260002,29532100

# The `.truncate()` method
* Work like a slicing

In [45]:
stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stocks.head()

In [48]:
stocks.truncate(before='2011-02-05', after='2011-02-28')

                 Open       High        Low      Close  Adj Close    Volume
Date
2011-02-07  27.799999  28.340000  27.790001  28.200001  23.391560  68980900
2011-02-08  28.100000  28.340000  28.049999  28.280001  23.457924  34904200
2011-02-09  28.190001  28.260000  27.910000  27.969999  23.200781  52905100
2011-02-10  27.930000  27.940001  27.290001  27.500000  22.810925  76672400
2011-02-11  27.760000  27.809999  27.070000  27.250000  22.603552  83939700
2011-02-14  27.209999  27.270000  26.950001  27.230000  22.586962  56766200
2011-02-15  27.040001  27.330000  26.950001  26.959999  22.495173  44116500
2011-02-16  27.049999  27.070000  26.600000  27.020000  22.545244  70817900
2011-02-17  26.969999  27.370001  26.910000  27.209999  22.703777  57207300
2011-02-18  27.129999  27.209999  26.990000  27.059999  22.578623  68667800
2011-02-22  26.780001  27.100000  26.520000  26.590000  22.186451  60889000
2011-02-23  26.530001  26.860001  26.430000  26.590000  22.186451  60234100
2011-02-24  26.639999  27.059999  26.500000  26.770000  22.336641  64494200
2011-02-25  26.910000  26.950001  26.500000  26.549999  22.153074  53006300
2011-02-28  26.690001  26.860001  26.510000  26.580000  22.178112  51379900

# `pd.DateOffset` objects

In [51]:
stocks = data.DataReader(name='GOOG', data_source='yahoo', start=dt.date(2000,1,1), end=dt.datetime.now())

In [52]:
stocks.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [57]:
stocks.index + pd.DateOffset(months=3, years=1, hours=4, weeks=2)

DatetimeIndex(['2005-12-03 04:00:00', '2005-12-04 04:00:00',
               '2005-12-07 04:00:00', '2005-12-08 04:00:00',
               '2005-12-09 04:00:00', '2005-12-10 04:00:00',
               '2005-12-11 04:00:00', '2005-12-14 04:00:00',
               '2005-12-14 04:00:00', '2005-12-15 04:00:00',
               ...
               '2019-04-26 04:00:00', '2019-04-30 04:00:00',
               '2019-05-01 04:00:00', '2019-05-02 04:00:00',
               '2019-05-03 04:00:00', '2019-05-06 04:00:00',
               '2019-05-07 04:00:00', '2019-05-08 04:00:00',
               '2019-05-09 04:00:00', '2019-05-10 04:00:00'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

# More fun with `pd.DateOffset` objects

In [70]:
from pandas.tseries.offsets import *

In [73]:
stocks = data.DataReader(name='GOOG', data_source='yahoo', start=dt.date(2000,1,1), end=dt.datetime.now())
stocks.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [64]:
stocks.index + pd.tseries.offsets.MonthEnd() # Change to the next month end available

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2018-01-31', '2018-01-31', '2018-01-31', '2018-01-31',
               '2018-01-31', '2018-01-31', '2018-01-31', '2018-01-31',
               '2018-01-31', '2018-01-31'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

In [74]:
stocks.index - MonthBegin() # Change to the next month begin available

DatetimeIndex(['2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01',
               ...
               '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

In [79]:
stocks.index - QuarterEnd()

DatetimeIndex(['2004-06-30', '2004-06-30', '2004-06-30', '2004-06-30',
               '2004-06-30', '2004-06-30', '2004-06-30', '2004-06-30',
               '2004-06-30', '2004-06-30',
               ...
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

In [76]:
stocks.index - BMonthEnd()

/home/george/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/datetimes.py:840: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2004-07-30', '2004-07-30', '2004-07-30', '2004-07-30',
               '2004-07-30', '2004-07-30', '2004-07-30', '2004-07-30',
               '2004-07-30', '2004-08-31',
               ...
               '2017-12-29', '2017-12-29', '2017-12-29', '2017-12-29',
               '2017-12-29', '2017-12-29', '2017-12-29', '2017-12-29',
               '2017-12-29', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

In [81]:
stocks.index - QuarterBegin()

DatetimeIndex(['2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01',
               ...
               '2017-12-01', '2017-12-01', '2017-12-01', '2017-12-01',
               '2017-12-01', '2017-12-01', '2017-12-01', '2017-12-01',
               '2017-12-01', '2017-12-01'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

In [82]:
stocks.index + YearEnd()

DatetimeIndex(['2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

In [83]:
stocks.index + YearBegin()

DatetimeIndex(['2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01',
               ...
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01'],
              dtype='datetime64[ns]', name='Date', length=3384, freq=None)

# The `Timedelta` object

In [86]:
timeA = pd.Timestamp('2016-03-31')
timeB = pd.Timestamp('2016-03-20')

In [87]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [88]:
type(timeA - timeB)

pandas._libs.tslib.Timedelta

In [89]:
type(timeA)

pandas._libs.tslib.Timestamp

In [90]:
pd.Timedelta(days=3, minutes=45, hours=12, weeks=9)

Timedelta('66 days 12:45:00')

In [91]:
pd.Timedelta('14 days 6 hours 12 minutes 39 seconds')

Timedelta('14 days 06:12:39')

# `Timedeltas` in a dataset

In [107]:
shipping = pd.read_csv('/home/george/Documents/Cursos/data_analysis_with_pandas_and_python/pandas/ecommerce.csv',
                        index_col='ID', parse_dates=['order_date', 'delivery_date'])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [108]:
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']
shipping.head()

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [109]:
shipping['twice_time'] = shipping['order_date'] + shipping['delivery_time']
shipping.head()

   order_date delivery_date delivery_time twice_time
ID
1  1998-05-24    1999-02-05      257 days 1999-02-05
2  1992-04-22    1998-03-06     2144 days 1998-03-06
4  1991-02-10    1992-08-26      563 days 1992-08-26
5  1992-07-21    1997-11-20     1948 days 1997-11-20
7  1993-09-02    1998-06-10     1742 days 1998-06-10

In [110]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery_time    timedelta64[ns]
twice_time        datetime64[ns]
dtype: object

In [113]:
mask = shipping['delivery_time'] < '30 days'
shipping[mask]

    order_date delivery_date delivery_time twice_time
ID
19  1998-05-10    1998-05-19        9 days 1998-05-19
88  1997-08-29    1997-09-19       21 days 1997-09-19
310 1997-09-20    1997-10-06       16 days 1997-10-06
484 1993-08-30    1993-09-22       23 days 1993-09-22
612 1994-08-11    1994-08-20        9 days 1994-08-20
659 1998-10-11    1998-11-03       23 days 1998-11-03
730 1992-12-10    1992-12-28       18 days 1992-12-28
898 1990-05-24    1990-06-01        8 days 1990-06-01
994 1993-06-03    1993-06-13       10 days 1993-06-13

In [114]:
shipping['delivery_time'].max()

Timedelta('3583 days 00:00:00')