In [1]:
import pandas as pd
import datetime as dt

# Review of python's `datetime` Module

In [2]:
someday = dt.date(2010, 1, 12)

In [3]:
someday.year
someday.month
someday.day

12

In [4]:
str(someday)

'2010-01-12'

In [5]:
sometime = dt.datetime(2010,1,10,17,13,57)
str(sometime)

'2010-01-10 17:13:57'

In [6]:
sometime.hour
sometime.minute
sometime.second

57

# The pandas `Timestamp` object

In [7]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [8]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [9]:
pd.Timestamp('2015, 03, 31')

Timestamp('2015-03-31 00:00:00')

In [10]:
pd.Timestamp('31/03/2015')

Timestamp('2015-03-31 00:00:00')

In [11]:
pd.Timestamp('4/3/2015') # error

Timestamp('2015-04-03 00:00:00')

In [12]:
pd.Timestamp('2021/3/8 8:35:14 PM')

Timestamp('2021-03-08 20:35:14')

# The pandas `DateTimeIndex` object

In [13]:
dates = ['2014/02/12', '2012/11/12', '2009/02/13']
pd.DatetimeIndex(dates)

DatetimeIndex(['2014-02-12', '2012-11-12', '2009-02-13'], dtype='datetime64[ns]', freq=None)

In [14]:
dates = [dt.date(2013,1,19), dt.date(1992,2,12), dt.date(2003,12,12)]
dtIndex = pd.DatetimeIndex(dates)

In [15]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2013-01-19    100
1992-02-12    200
2003-12-12    300
dtype: int64

# Create range of dates with the `pd.date_range()` method, part 1

In [18]:
# Choose a start and an end, freq D is by day
times = pd.date_range(start='2018-01-01', end='2018-01-10', freq='D')
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [19]:
type(times[0])

pandas._libs.tslib.Timestamp

In [20]:
# Choose a start and an end, freq 2D is 2 days
times = pd.date_range(start='2018-01-01', end='2018-01-10', freq='2D')

In [25]:
# Choose freq='B' to count bussiness days 
times = pd.date_range(start='2018-01-01', end='2018-01-10', freq='B')
times

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='B')

In [33]:
# Choose freq='W' to count by week, by default the first day is SUNDAY ('W-SUN') wich can be changed ('W-FRI)
times = pd.date_range(start='2018-01-01', end='2018-01-15', freq='W')
times
pd.date_range(start='2018-01-01', end='2018-01-15', freq='W-FRI')

DatetimeIndex(['2018-01-05', '2018-01-12'], dtype='datetime64[ns]', freq='W-FRI')

In [35]:
# Choose freq='H' to each hout in a day
times = pd.date_range(start='2018-01-01', end='2018-01-15', freq='2H')
times

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 02:00:00',
               '2018-01-01 04:00:00', '2018-01-01 06:00:00',
               '2018-01-01 08:00:00', '2018-01-01 10:00:00',
               '2018-01-01 12:00:00', '2018-01-01 14:00:00',
               '2018-01-01 16:00:00', '2018-01-01 18:00:00',
               ...
               '2018-01-14 06:00:00', '2018-01-14 08:00:00',
               '2018-01-14 10:00:00', '2018-01-14 12:00:00',
               '2018-01-14 14:00:00', '2018-01-14 16:00:00',
               '2018-01-14 18:00:00', '2018-01-14 20:00:00',
               '2018-01-14 22:00:00', '2018-01-15 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='2H')

In [42]:
# Choose freq='M' returns the month ends, use 'MS' to use moth start
times = pd.date_range(start='2016-01-01', end='2017-01-01', freq='MS')
times

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [47]:
# Choose freq='A' returns the last day of each year, with DEC as default
times = pd.date_range(start='2016-01-01', end='2020-01-01', freq='A')
times

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31'], dtype='datetime64[ns]', freq='A-DEC')

# Create range of dates with the `pd.date_range()` method, part2

In [48]:
pd.date_range(start='2012-09-09', periods=25, freq='D')

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(start='2012-09-09', periods=25, freq='B') #Bussiness days

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [52]:
pd.date_range(start='2012-09-09', periods=25, freq='W')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [53]:
pd.date_range(start='2012-09-09', periods=25, freq='H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00'],
              dtype='datetime64[ns]', freq='H')

# Create range of dates with the `pd.date_range()` method, part3

In [54]:
pd.date_range(end='1999-12-31', periods=20, freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

# The `.dt` acessor