In [71]:
import pandas as pd
from pandas_datareader import data

In [72]:
companies = ['MSFT', 'GOOG', 'AAPL', 'YHOO', 'AMZN']
p = data.DataReader(name=companies, data_source='yahoo',
                   start='2010-01-01', end='2016-12-31')
p

/home/george/anaconda3/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: AAPL to YHOO

# The axes of a `Panel` object

In [73]:
p.items # columns

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [74]:
p.major_axis # index

DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
               '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
               '2016-12-19', '2016-12-16',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [75]:
p.minor_axis # companies

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [76]:
p.axes # all info

[Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
                '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
                '2016-12-19', '2016-12-16',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

# Panel attributes

In [77]:
p.ndim # number of dimasions

3

In [78]:
p.dtypes # data types

Adj Close    float64
Close        float64
High         float64
Low          float64
Open         float64
Volume       float64
dtype: object

In [79]:
p.shape # measurements

(6, 1762, 5)

In [80]:
p.size # total number of values

52860

In [81]:
6*1762*5 # shape result = size

52860

In [82]:
p.values # all values

array([[[  1.13986984e+02,   7.49869995e+02,   7.71820007e+02,
           6.07827950e+01,              nan],
        [  1.14882584e+02,   7.65150024e+02,   7.82789978e+02,
           6.15262070e+01,              nan],
        [  1.14912109e+02,   7.72130005e+02,   7.85049988e+02,
           6.16142350e+01,              nan],
        ...,
        [  2.70172230e+01,   1.32250000e+02,   3.02164703e+02,
           2.50026110e+01,              nan],
        [  2.74539150e+01,   1.34690002e+02,   3.09978882e+02,
           2.51570010e+01,              nan],
        [  2.74065320e+01,   1.33899994e+02,   3.11349976e+02,
           2.51488760e+01,              nan]],

       [[  1.15820000e+02,   7.49869995e+02,   7.71820007e+02,
           6.21399990e+01,              nan],
        [  1.16730003e+02,   7.65150024e+02,   7.82789978e+02,
           6.29000020e+01,              nan],
        [  1.16760002e+02,   7.72130005e+02,   7.85049988e+02,
           6.29900020e+01,              nan],
        ...,
        [  3.01385710e+01,   1.32250000e+02,   3.02164703e+02,
           3.07700000e+01,              nan],
        [  3.06257130e+01,   1.34690002e+02,   3.09978882e+02,
           3.09599990e+01,              nan],
        [  3.05728570e+01,   1.33899994e+02,   3.11349976e+02,
           3.09500010e+01,              nan]],

       [[  1.17199997e+02,   7.67400024e+02,   7.82780029e+02,
           6.29900020e+01,              nan],
        [  1.17110001e+02,   7.73400024e+02,   7.85929993e+02,
           6.32000010e+01,              nan],
        [  1.18019997e+02,   7.80000000e+02,   7.94229980e+02,
           6.34000020e+01,              nan],
        ...,
        [  3.07471430e+01,   1.34729996e+02,   3.10907837e+02,
           3.10800000e+01,              nan],
        [  3.07985710e+01,   1.35479996e+02,   3.11891449e+02,
           3.11000000e+01,              nan],
        [  3.06428570e+01,   1.36610001e+02,   3.12721039e+02,
           3.11000000e+01,              nan]],

       [[  1.15430000e+02,   7.48280029e+02,   7.70409973e+02,
           6.20299990e+01,              nan],
        [  1.16400002e+02,   7.60849976e+02,   7.78919983e+02,
           6.27300000e+01,              nan],
        [  1.16199997e+02,   7.70500000e+02,   7.83200012e+02,
           6.28300020e+01,              nan],
        ...,
        [  3.01071430e+01,   1.31649994e+02,   3.01220856e+02,
           3.05200000e+01,              nan],
        [  3.04642850e+01,   1.31809998e+02,   3.08761810e+02,
           3.06399990e+01,              nan],
        [  3.03400000e+01,   1.33139999e+02,   3.10103088e+02,
           3.05900000e+01,              nan]],

       [[  1.16650002e+02,   7.66469971e+02,   7.82750000e+02,
           6.29599990e+01,              nan],
        [  1.16449997e+02,   7.72400024e+02,   7.83330017e+02,
           6.28600010e+01,              nan],
        [  1.17519997e+02,   7.76250000e+02,   7.93700012e+02,
           6.34000020e+01,              nan],
        ...,
        [  3.06257130e+01,   1.34600006e+02,   3.10907837e+02,
           3.08799990e+01,              nan],
        [  3.06571430e+01,   1.33429993e+02,   3.11563568e+02,
           3.08500000e+01,              nan],
        [  3.04900000e+01,   1.36250000e+02,   3.11449310e+02,
           3.06200010e+01,              nan]],

       [[  3.05863000e+07,   4.13940000e+06,   1.77000000e+06,
           2.55799000e+07,              nan],
        [  1.50395000e+07,   3.15350000e+06,   7.42200000e+05,
           1.01816000e+07,              nan],
        [  2.09059000e+07,   3.30100000e+06,   1.15380000e+06,
           1.46533000e+07,              nan],
        ...,
        [  1.38040000e+08,   7.17880000e+06,   8.00900000e+06,
           5.81824000e+07,              nan],
        [  1.50476200e+08,   8.85190000e+06,   6.04850000e+06,
           4.97496000e+07,              nan],
        [  1.23432400e+08,   7.59990000e+06,   3.93780000e+06,
           3.84091000e+07,              nan]]])

# Use bracket notation to exctract a `DataFrame` (for Subsetting)

In [83]:
p.items # Choose what dataframe info you need first

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [84]:
p['Close']

                  AAPL        AMZN        GOOG       MSFT  YHOO
Date
2016-12-30  115.820000  749.869995  771.820007  62.139999   NaN
2016-12-29  116.730003  765.150024  782.789978  62.900002   NaN
2016-12-28  116.760002  772.130005  785.049988  62.990002   NaN
2016-12-27  117.260002  771.400024  791.549988  63.279999   NaN
2016-12-23  116.519997  760.590027  789.909973  63.240002   NaN
2016-12-22  116.290001  766.340027  791.260010  63.549999   NaN
2016-12-21  117.059998  770.599976  794.559998  63.540001   NaN
2016-12-20  116.949997  771.219971  796.419983  63.540001   NaN
2016-12-19  116.639999  766.000000  794.200012  63.619999   NaN
2016-12-16  115.970001  757.770020  790.799988  62.299999   NaN
2016-12-15  115.820000  761.000000  797.849976  62.580002   NaN
2016-12-14  115.190002  768.820007  797.070007  62.680000   NaN
2016-12-13  115.190002  774.340027  796.099976  62.980000   NaN
2016-12-12  113.300003  760.119995  789.270020  62.169998   NaN
2016-12-09  113.949997  768.659973  789.289978  61.970001   NaN
2016-12-08  112.120003  767.330017  776.419983  61.009998   NaN
2016-12-07  111.029999  770.419983  771.190002  61.369999   NaN
2016-12-06  109.949997  764.719971  759.109985  59.950001   NaN
2016-12-05  109.110001  759.359985  762.520020  60.220001   NaN
2016-12-02  109.900002  740.340027  750.500000  59.250000   NaN
2016-12-01  109.489998  743.650024  747.919983  59.200001   NaN
2016-11-30  110.519997  750.570007  758.039978  60.259998   NaN
2016-11-29  111.459999  762.520020  770.840027  61.090000   NaN
2016-11-28  111.570000  766.770020  768.239990  60.610001   NaN
2016-11-25  111.790001  780.369995  761.679993  60.529999   NaN
2016-11-23  111.230003  780.119995  760.989990  60.400002   NaN
2016-11-22  111.800003  785.330017  768.270020  61.119999   NaN
2016-11-21  111.730003  780.000000  769.200012  60.860001   NaN
2016-11-18  110.059998  760.159973  760.539978  60.349998   NaN
2016-11-17  109.949997  756.400024  771.229980  60.639999   NaN
...                ...         ...         ...        ...   ...
2010-02-16   29.057142  117.529999  268.901062  28.350000   NaN
2010-02-12   28.625713  119.660004  264.837494  27.930000   NaN
2010-02-11   28.381428  120.089996  266.466888  28.120001   NaN
2010-02-10   27.874287  117.360001  265.498199  27.990000   NaN
2010-02-09   28.027143  118.029999  266.486755  28.010000   NaN
2010-02-08   27.731428  116.830002  265.011353  27.719999   NaN
2010-02-05   27.922857  117.389999  263.928406  28.020000   NaN
2010-02-04   27.435715  115.940002  261.687958  27.840000   NaN
2010-02-03   28.461428  119.099998  268.662598  28.629999   NaN
2010-02-02   27.980000  118.120003  263.843964  28.459999   NaN
2010-02-01   27.818571  118.870003  264.787811  28.410000   NaN
2010-01-29   27.437143  125.410004  263.257751  28.180000   NaN
2010-01-28   28.469999  126.029999  265.418701  29.160000   NaN
2010-01-27   29.697144  122.750000  269.298462  29.670000   NaN
2010-01-26   29.420000  119.480003  269.457428  29.500000   NaN
2010-01-25   29.010000  120.309998  268.255249  29.320000   NaN
2010-01-22   28.250000  121.430000  273.227905  28.959999   NaN
2010-01-21   29.724285  126.620003  289.606384  30.010000   NaN
2010-01-20   30.247143  125.779999  288.329681  30.590000   NaN
2010-01-19   30.719999  127.610001  291.911407  31.100000   NaN
2010-01-15   29.418571  127.139999  288.126007  30.860001   NaN
2010-01-14   29.918571  127.349998  293.019196  30.959999   NaN
2010-01-13   30.092857  129.110001  291.648102  30.350000   NaN
2010-01-12   29.674286  127.349998  293.332153  30.070000   NaN
2010-01-11   30.015715  130.309998  298.612823  30.270000   NaN
2010-01-08   30.282858  133.520004  299.064880  30.660000   NaN
2010-01-07   30.082857  130.000000  295.130463  30.450001   NaN
2010-01-06   30.138571  132.250000  302.164703  30.770000   NaN
2010-01-05   30.625713  134.690002  309.978882  30.959999   NaN
2010-01-04   30.572857  133.899994  311.349976  30.950001   NaN

[1762 rows x 5 columns]

In [85]:
p.Close

                  AAPL        AMZN        GOOG       MSFT  YHOO
Date
2016-12-30  115.820000  749.869995  771.820007  62.139999   NaN
2016-12-29  116.730003  765.150024  782.789978  62.900002   NaN
2016-12-28  116.760002  772.130005  785.049988  62.990002   NaN
2016-12-27  117.260002  771.400024  791.549988  63.279999   NaN
2016-12-23  116.519997  760.590027  789.909973  63.240002   NaN
2016-12-22  116.290001  766.340027  791.260010  63.549999   NaN
2016-12-21  117.059998  770.599976  794.559998  63.540001   NaN
2016-12-20  116.949997  771.219971  796.419983  63.540001   NaN
2016-12-19  116.639999  766.000000  794.200012  63.619999   NaN
2016-12-16  115.970001  757.770020  790.799988  62.299999   NaN
2016-12-15  115.820000  761.000000  797.849976  62.580002   NaN
2016-12-14  115.190002  768.820007  797.070007  62.680000   NaN
2016-12-13  115.190002  774.340027  796.099976  62.980000   NaN
2016-12-12  113.300003  760.119995  789.270020  62.169998   NaN
2016-12-09  113.949997  768.659973  789.289978  61.970001   NaN
2016-12-08  112.120003  767.330017  776.419983  61.009998   NaN
2016-12-07  111.029999  770.419983  771.190002  61.369999   NaN
2016-12-06  109.949997  764.719971  759.109985  59.950001   NaN
2016-12-05  109.110001  759.359985  762.520020  60.220001   NaN
2016-12-02  109.900002  740.340027  750.500000  59.250000   NaN
2016-12-01  109.489998  743.650024  747.919983  59.200001   NaN
2016-11-30  110.519997  750.570007  758.039978  60.259998   NaN
2016-11-29  111.459999  762.520020  770.840027  61.090000   NaN
2016-11-28  111.570000  766.770020  768.239990  60.610001   NaN
2016-11-25  111.790001  780.369995  761.679993  60.529999   NaN
2016-11-23  111.230003  780.119995  760.989990  60.400002   NaN
2016-11-22  111.800003  785.330017  768.270020  61.119999   NaN
2016-11-21  111.730003  780.000000  769.200012  60.860001   NaN
2016-11-18  110.059998  760.159973  760.539978  60.349998   NaN
2016-11-17  109.949997  756.400024  771.229980  60.639999   NaN
...                ...         ...         ...        ...   ...
2010-02-16   29.057142  117.529999  268.901062  28.350000   NaN
2010-02-12   28.625713  119.660004  264.837494  27.930000   NaN
2010-02-11   28.381428  120.089996  266.466888  28.120001   NaN
2010-02-10   27.874287  117.360001  265.498199  27.990000   NaN
2010-02-09   28.027143  118.029999  266.486755  28.010000   NaN
2010-02-08   27.731428  116.830002  265.011353  27.719999   NaN
2010-02-05   27.922857  117.389999  263.928406  28.020000   NaN
2010-02-04   27.435715  115.940002  261.687958  27.840000   NaN
2010-02-03   28.461428  119.099998  268.662598  28.629999   NaN
2010-02-02   27.980000  118.120003  263.843964  28.459999   NaN
2010-02-01   27.818571  118.870003  264.787811  28.410000   NaN
2010-01-29   27.437143  125.410004  263.257751  28.180000   NaN
2010-01-28   28.469999  126.029999  265.418701  29.160000   NaN
2010-01-27   29.697144  122.750000  269.298462  29.670000   NaN
2010-01-26   29.420000  119.480003  269.457428  29.500000   NaN
2010-01-25   29.010000  120.309998  268.255249  29.320000   NaN
2010-01-22   28.250000  121.430000  273.227905  28.959999   NaN
2010-01-21   29.724285  126.620003  289.606384  30.010000   NaN
2010-01-20   30.247143  125.779999  288.329681  30.590000   NaN
2010-01-19   30.719999  127.610001  291.911407  31.100000   NaN
2010-01-15   29.418571  127.139999  288.126007  30.860001   NaN
2010-01-14   29.918571  127.349998  293.019196  30.959999   NaN
2010-01-13   30.092857  129.110001  291.648102  30.350000   NaN
2010-01-12   29.674286  127.349998  293.332153  30.070000   NaN
2010-01-11   30.015715  130.309998  298.612823  30.270000   NaN
2010-01-08   30.282858  133.520004  299.064880  30.660000   NaN
2010-01-07   30.082857  130.000000  295.130463  30.450001   NaN
2010-01-06   30.138571  132.250000  302.164703  30.770000   NaN
2010-01-05   30.625713  134.690002  309.978882  30.959999   NaN
2010-01-04   30.572857  133.899994  311.349976  30.950001   NaN

[1762 rows x 5 columns]

# Exctrating with the `.loc[]`, `.iloc[]` and `.ix[]` methods

In [86]:
p.axes

[Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
                '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
                '2016-12-19', '2016-12-16',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [87]:
p.loc['Low', '2010-01-08', 'GOOG']

Date
2010-01-08    292.651581
Name: GOOG, dtype: float64

In [88]:
p.iloc[3, 1757, 2]

292.65158100000002

In [89]:
p.ix[3, '2010-01-08', 2]

/home/george/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Date
2010-01-08    292.651581
Name: GOOG, dtype: float64

# Convert `Panel` to a `MultiIndex DataFrame` and vice-versa

In [90]:
df = p.to_frame()
df.head()

                   Adj Close       Close        High         Low        Open  \
Date       minor
2016-12-30 AAPL   113.986984  115.820000  117.199997  115.430000  116.650002
           AMZN   749.869995  749.869995  767.400024  748.280029  766.469971
           GOOG   771.820007  771.820007  782.780029  770.409973  782.750000
           MSFT    60.782795   62.139999   62.990002   62.029999   62.959999
2016-12-29 AAPL   114.882584  116.730003  117.110001  116.400002  116.449997

                      Volume
Date       minor
2016-12-30 AAPL   30586300.0
           AMZN    4139400.0
           GOOG    1770000.0
           MSFT   25579900.0
2016-12-29 AAPL   15039500.0

In [91]:
p2 = df.to_panel()
p2

/home/george/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: AAPL to YHOO

# The `.major_xs()` method

In [92]:
p.items

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [93]:
p.major_axis

DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
               '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
               '2016-12-19', '2016-12-16',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [94]:
p.major_axis[2]

Timestamp('2016-12-28 00:00:00')

In [95]:
p.major_xs(p.major_axis[2])

       Adj Close       Close        High         Low        Open      Volume
AAPL  114.912109  116.760002  118.019997  116.199997  117.519997  20905900.0
AMZN  772.130005  772.130005  780.000000  770.500000  776.250000   3301000.0
GOOG  785.049988  785.049988  794.229980  783.200012  793.700012   1153800.0
MSFT   61.614235   62.990002   63.400002   62.830002   63.400002  14653300.0
YHOO         NaN         NaN         NaN         NaN         NaN         NaN

# The `.minor_xs()` method

In [96]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [97]:
p.minor_xs('AMZN')

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2016-12-30,749.869995,749.869995,767.400024,748.280029,766.469971,4139400.0
2016-12-29,765.150024,765.150024,773.400024,760.849976,772.400024,3153500.0
2016-12-28,772.130005,772.130005,780.000000,770.500000,776.250000,3301000.0
2016-12-27,771.400024,771.400024,774.650024,761.200012,763.400024,2638700.0
2016-12-23,760.590027,760.590027,766.500000,757.989990,764.549988,1976900.0
2016-12-22,766.340027,766.340027,771.210022,763.020020,768.119995,2543600.0
2016-12-21,770.599976,770.599976,771.219971,765.700012,770.000000,2044600.0
2016-12-20,771.219971,771.219971,774.390015,767.710022,768.650024,2703600.0
2016-12-19,766.000000,766.000000,770.500000,756.159973,758.890015,3113200.0
2016-12-16,757.770020,757.770020,765.130005,754.000000,765.000000,4828700.0
2016-12-15,761.000000,761.000000,769.099976,760.309998,766.280029,3801900.0
2016-12-14,768.820007,768.820007,780.859985,762.809998,778.250000,5454800.0
2016-12-13,774.340027,774.340027,782.460022,762.000000,764.960022,5285300.0
2016-12-12,760.119995,760.119995,766.890015,757.200012,766.400024,2963900.0
2016-12-09,768.659973,768.659973,770.250000,765.340027,770.000000,2470900.0
2016-12-08,767.330017,767.330017,773.789978,765.190002,771.869995,3189600.0
2016-12-07,770.419983,770.419983,770.419983,755.820007,764.549988,3684900.0
2016-12-06,764.719971,764.719971,768.239990,757.250000,763.989990,3794700.0
2016-12-05,759.359985,759.359985,761.489990,742.000000,745.000000,4314700.0
2016-12-02,740.340027,740.340027,748.489990,736.700012,743.400024,3561300.0
2016-12-01,743.650024,743.650024,753.369995,738.030029,752.409973,4666000.0
2016-11-30,750.570007,750.570007,768.090027,750.250000,762.000000,4625900.0
2016-11-29,762.520020,762.520020,769.890015,761.320007,768.000000,3272300.0
2016-11-28,766.770020,766.770020,777.000000,764.239990,776.989990,4438800.0
2016-11-25,780.369995,780.369995,786.750000,777.900024,786.500000,1837100.0
2016-11-23,780.119995,780.119995,781.750000,773.119995,781.729980,3522500.0
2016-11-22,785.330017,785.330017,792.400024,781.000000,788.169983,5311300.0
2016-11-21,780.000000,780.000000,780.349976,765.109985,766.000000,4614600.0
2016-11-18,760.159973,760.159973,767.739990,757.640015,761.000000,4373400.0
2016-11-17,756.400024,756.400024,757.500000,748.000000,749.320007,3690100.0
...,...,...,...,...,...,...
2010-02-16,117.529999,117.529999,120.500000,117.180000,120.059998,8932700.0
2010-02-12,119.660004,119.660004,119.940002,117.500000,118.989998,8073500.0
2010-02-11,120.089996,120.089996,120.419998,116.500000,117.209999,8343500.0
2010-02-10,117.360001,117.360001,118.610001,116.000000,118.000000,6233200.0
2010-02-09,118.029999,118.029999,119.089996,117.000000,118.199997,9223000.0
2010-02-08,116.830002,116.830002,121.000000,116.559998,119.379997,9890200.0
2010-02-05,117.389999,117.389999,117.650002,114.099998,115.879997,11024800.0
2010-02-04,115.940002,115.940002,120.330002,115.739998,118.639999,12784000.0
2010-02-03,119.099998,119.099998,119.610001,116.559998,117.120003,12405900.0
2010-02-02,118.120003,118.120003,118.980003,114.400002,118.790001,23079700.0
2010-02-01,118.870003,118.870003,124.860001,113.820000,123.180000,37774400.0
2010-01-29,125.410004,125.410004,131.850006,124.139999,129.770004,29471300.0
2010-01-28,126.029999,126.029999,127.199997,122.800003,124.430000,27293100.0
2010-01-27,122.750000,122.750000,123.330002,118.800003,121.029999,14765300.0
2010-01-26,119.480003,119.480003,122.980003,119.059998,120.559998,9559000.0
2010-01-25,120.309998,120.309998,122.279999,118.120003,122.099998,12023900.0
2010-01-22,121.430000,121.430000,127.669998,120.760002,125.599998,11568900.0
2010-01-21,126.620003,126.620003,128.149994,125.000000,127.260002,9970600.0
2010-01-20,125.779999,125.779999,129.199997,125.080002,127.129997,9074700.0
2010-01-19,127.610001,127.610001,128.000000,124.330002,126.309998,8892600.0
2010-01-15,127.139999,127.139999,129.649994,127.059998,129.179993,15376500.0
2010-01-14,127.349998,127.349998,130.380005,126.400002,129.139999,9774900.0
2010-01-13,129.110001,129.110001,129.710007,125.750000,127.900002,10723200.0
2010-01-12,127.349998,127.349998,129.820007,126.550003,128.990005,9096300.0
2010-01-11,130.309998,130.309998,132.800003,129.210007,132.619995,8779400.0
2010-01-08,133.520004,133.520004,133.679993,129.029999,130.559998,9830500.0
2010-01-07,130.000000,130.000000,132.320007,128.800003,132.009995,11030200.0
2010-01-06,132.250000,132.250000,134.729996,131.649994,134.600006,7178800.0
2010-01-05,134.690002,134.690002,135.479996,131.809998,133.429993,8851900.0
2010-01-04,133.899994,133.899994,136.610001,133.139999,136.250000,7599900.0

In [98]:
p.minor_xs(p.minor_axis[3])

            Adj Close      Close       High        Low       Open       Volume
Date
2016-12-30  60.782795  62.139999  62.990002  62.029999  62.959999   25579900.0
2016-12-29  61.526207  62.900002  63.200001  62.730000  62.860001   10181600.0
2016-12-28  61.614235  62.990002  63.400002  62.830002  63.400002   14653300.0
2016-12-27  61.897896  63.279999  64.070000  63.209999  63.209999   11763200.0
2016-12-23  61.858780  63.240002  63.540001  62.799999  63.450001   12398000.0
2016-12-22  62.162003  63.549999  64.099998  63.410000  63.840000   22176600.0
2016-12-21  62.152225  63.540001  63.700001  63.119999  63.430000   17096300.0
2016-12-20  62.152225  63.540001  63.799999  63.029999  63.689999   26028400.0
2016-12-19  62.230476  63.619999  63.770000  62.419998  62.560001   34338200.0
2016-12-16  60.939304  62.299999  62.950001  62.119999  62.950001   42204700.0
2016-12-15  61.213192  62.580002  63.150002  62.299999  62.700001   27669900.0
2016-12-14  61.311005  62.680000  63.450001  62.529999  63.000000   30352700.0
2016-12-13  61.604454  62.980000  63.419998  62.240002  62.500000   35718900.0
2016-12-12  60.812145  62.169998  62.299999  61.720001  61.820000   20198100.0
2016-12-09  60.616516  61.970001  61.990002  61.130001  61.180000   27349400.0
2016-12-08  59.677479  61.009998  61.580002  60.840000  61.299999   21220800.0
2016-12-07  60.029621  61.369999  61.380001  59.799999  60.009998   30809000.0
2016-12-06  58.640636  59.950001  60.459999  59.799999  60.430000   19907000.0
2016-12-05  58.904739  60.220001  60.590000  59.560001  59.700001   23552700.0
2016-12-02  57.955917  59.250000  59.470001  58.799999  59.080002   25515700.0
2016-12-01  57.907009  59.200001  60.150002  58.939999  60.110001   34542100.0
2016-11-30  58.943859  60.259998  61.180000  60.220001  60.860001   34655400.0
2016-11-29  59.755737  61.090000  61.410000  60.520000  60.650002   22366700.0
2016-11-28  59.286217  60.610001  61.020000  60.209999  60.340000   20732600.0
2016-11-25  59.207962  60.529999  60.529999  60.130001  60.299999    8409600.0
2016-11-23  59.080803  60.400002  61.099998  60.250000  61.009998   21847200.0
2016-11-22  59.785076  61.119999  61.259998  60.810001  60.980000   23206700.0
2016-11-21  59.530758  60.860001  60.970001  60.419998  60.500000   19652600.0
2016-11-18  59.031898  60.349998  61.139999  60.299999  60.779999   27686300.0
2016-11-17  59.315563  60.639999  60.950001  59.970001  60.410000   32132700.0
...               ...        ...        ...        ...        ...          ...
2010-02-16  23.143934  28.350000  28.370001  28.020000  28.129999   51935600.0
2010-02-12  22.694933  27.930000  28.059999  27.580000  27.809999   81117200.0
2010-02-11  22.849319  28.120001  28.400000  27.700001  27.930000   65993700.0
2010-02-10  22.743685  27.990000  28.240000  27.840000  28.030001   48591300.0
2010-02-09  22.759937  28.010000  28.340000  27.750000  27.969999   59195800.0
2010-02-08  22.524290  27.719999  28.080000  27.570000  28.010000   52820600.0
2010-02-05  22.768064  28.020000  28.280001  27.570000  28.000000   80960100.0
2010-02-04  22.621799  27.840000  28.500000  27.809999  28.379999   77850000.0
2010-02-03  23.263727  28.629999  28.790001  28.120001  28.260000   61397900.0
2010-02-02  23.125591  28.459999  28.500000  28.139999  28.370001   54413700.0
2010-02-01  23.084957  28.410000  28.480000  27.920000  28.389999   85931100.0
2010-01-29  22.898075  28.180000  29.920000  27.660000  29.900000  193888500.0
2010-01-28  23.694384  29.160000  29.870001  28.889999  29.840000  117513700.0
2010-01-27  24.108797  29.670000  29.820000  29.020000  29.350000   63949500.0
2010-01-26  23.970657  29.500000  29.850000  29.090000  29.200001   66639900.0
2010-01-25  23.824394  29.320000  29.660000  29.100000  29.240000   63373000.0
2010-01-22  23.531868  28.959999  30.200001  28.840000  30.000000  102004600.0
2010-01-21  24.385063  30.010000  30.719999  30.000000  30.610001   73086700.0
2010-01-20  24.856350  30.590000  30.940001  30.309999  30.809999   54849500.0
2010-01-19  25.270758  31.100000  31.240000  30.680000  30.750000   46575700.0
2010-01-15  25.075747  30.860001  31.240000  30.709999  31.080000   79913200.0
2010-01-14  25.157001  30.959999  31.100000  30.260000  30.309999   63228100.0
2010-01-13  24.661339  30.350000  30.520000  30.010000  30.260000   51863500.0
2010-01-12  24.433821  30.070000  30.400000  29.910000  30.150000   65912100.0
2010-01-11  24.596333  30.270000  30.760000  30.120001  30.709999   68754700.0
2010-01-08  24.913233  30.660000  30.879999  30.240000  30.280001   51197400.0
2010-01-07  24.742592  30.450001  30.700001  30.190001  30.629999   50559700.0
2010-01-06  25.002611  30.770000  31.080000  30.520000  30.879999   58182400.0
2010-01-05  25.157001  30.959999  31.100000  30.639999  30.850000   49749600.0
2010-01-04  25.148876  30.950001  31.100000  30.590000  30.620001   38409100.0

[1762 rows x 6 columns]

# Transpose a `Panel` with the `.transpose()` method

In [99]:
p.axes

[Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
                '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
                '2016-12-19', '2016-12-16',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [109]:
p2 = p.transpose(2,1,0) # reorganize axes

In [101]:
p2.axes

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object'),
 DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
                '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
                '2016-12-19', '2016-12-16',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')]

In [102]:
p2['AAPL']

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2016-12-30,113.986984,115.820000,117.199997,115.430000,116.650002,30586300.0
2016-12-29,114.882584,116.730003,117.110001,116.400002,116.449997,15039500.0
2016-12-28,114.912109,116.760002,118.019997,116.199997,117.519997,20905900.0
2016-12-27,115.404190,117.260002,117.800003,116.489998,116.519997,18296900.0
2016-12-23,114.675896,116.519997,116.519997,115.589996,115.589996,14181200.0
2016-12-22,114.449547,116.290001,116.510002,115.639999,116.349998,26085900.0
2016-12-21,115.207359,117.059998,117.400002,116.779999,116.800003,23783200.0
2016-12-20,115.099098,116.949997,117.500000,116.680000,116.739998,21425000.0
2016-12-19,114.793999,116.639999,117.379997,115.750000,115.800003,27779400.0
2016-12-16,114.134605,115.970001,116.500000,115.650002,116.470001,44351100.0
2016-12-15,113.986984,115.820000,116.730003,115.230003,115.379997,46524500.0
2016-12-14,113.366951,115.190002,116.199997,114.980003,115.040001,34031800.0
2016-12-13,113.366951,115.190002,115.919998,113.750000,113.839996,43733800.0
2016-12-12,111.506866,113.300003,115.000000,112.489998,113.290001,26374400.0
2016-12-09,112.146576,113.949997,114.699997,112.309998,112.309998,34402600.0
2016-12-08,110.345543,112.120003,112.430000,110.599998,110.860001,27068300.0
2016-12-07,109.272781,111.029999,111.190002,109.160004,109.260002,29998700.0
2016-12-06,108.209877,109.949997,110.360001,109.190002,109.500000,26195500.0
2016-12-05,107.383171,109.110001,110.029999,108.250000,110.000000,34324500.0
2016-12-02,108.160675,109.900002,110.089996,108.849998,109.169998,26528000.0
2016-12-01,107.757156,109.489998,110.940002,109.029999,110.370003,37086900.0
2016-11-30,108.770859,110.519997,112.199997,110.269997,111.599998,36162300.0
2016-11-29,109.695992,111.459999,112.029999,110.070000,110.779999,28528800.0
2016-11-28,109.804245,111.570000,112.470001,111.389999,111.430000,27194000.0
2016-11-25,110.020767,111.790001,111.870003,110.949997,111.129997,11475900.0
2016-11-23,109.469627,111.230003,111.510002,110.330002,111.360001,27426400.0
2016-11-22,110.030602,111.800003,112.419998,111.400002,111.949997,25965500.0
2016-11-21,109.961708,111.730003,111.989998,110.010002,110.120003,29264600.0
2016-11-18,108.318138,110.059998,110.540001,109.660004,109.720001,28428900.0
2016-11-17,108.209877,109.949997,110.349998,108.830002,109.809998,27632000.0
...,...,...,...,...,...,...
2010-02-16,26.047794,29.057142,29.098572,28.788572,28.848572,135934400.0
2010-02-12,25.661045,28.625713,28.805714,27.928572,28.301428,163867200.0
2010-02-11,25.442059,28.381428,28.535715,27.722857,27.840000,137586400.0
2010-02-10,24.987444,27.874287,28.085714,27.751429,27.984285,92590400.0
2010-02-09,25.124472,28.027143,28.214285,27.821428,28.059999,158221700.0
2010-02-08,24.859381,27.731428,28.268572,27.714285,27.955715,119567700.0
2010-02-05,25.030981,27.922857,28.000000,27.264286,27.518572,212576700.0
2010-02-04,24.594294,27.435715,28.338572,27.367144,28.104286,189413000.0
2010-02-03,25.513775,28.461428,28.600000,27.774286,27.881428,153832000.0
2010-02-02,25.082211,27.980000,28.045713,27.625713,27.987143,174585600.0
2010-02-01,24.937496,27.818571,28.000000,27.328571,27.481428,187469100.0
2010-01-29,24.595573,27.437143,28.885714,27.178572,28.725714,311488100.0
2010-01-28,25.521461,28.469999,29.357143,28.385714,29.275715,293375600.0
2010-01-27,26.621517,29.697144,30.082857,28.504286,29.549999,430642100.0
2010-01-26,26.373072,29.420000,30.530001,28.940001,29.421429,466777500.0
2010-01-25,26.005541,29.010000,29.242857,28.598572,28.930000,266424900.0
2010-01-22,25.324244,28.250000,29.642857,28.165714,29.540001,220441900.0
2010-01-21,26.645842,29.724285,30.472857,29.601429,30.297142,152038600.0
2010-01-20,27.114555,30.247143,30.792856,29.928572,30.701429,153038200.0
2010-01-19,27.538433,30.719999,30.741428,29.605715,29.761429,182501900.0
2010-01-15,26.371792,29.418571,30.228571,29.410000,30.132856,148516900.0
2010-01-14,26.820007,29.918571,30.065714,29.860001,30.015715,108223500.0
2010-01-13,26.976244,30.092857,30.132856,29.157143,29.695715,151473000.0
2010-01-12,26.601023,29.674286,29.967142,29.488571,29.884285,148614900.0
2010-01-11,26.907093,30.015715,30.428572,29.778572,30.400000,115557400.0
2010-01-08,27.146566,30.282858,30.285715,29.865715,30.042856,111902700.0
2010-01-07,26.967278,30.082857,30.285715,29.864286,30.250000,119282800.0
2010-01-06,27.017223,30.138571,30.747143,30.107143,30.625713,138040000.0
2010-01-05,27.453915,30.625713,30.798571,30.464285,30.657143,150476200.0
2010-01-04,27.406532,30.572857,30.642857,30.340000,30.490000,123432400.0

In [106]:
p2.major_xs(p2.major_axis[1])

                   AAPL          AMZN           GOOG          MSFT  YHOO
Adj Close  1.148826e+02  7.651500e+02     782.789978  6.152621e+01   NaN
Close      1.167300e+02  7.651500e+02     782.789978  6.290000e+01   NaN
High       1.171100e+02  7.734000e+02     785.929993  6.320000e+01   NaN
Low        1.164000e+02  7.608500e+02     778.919983  6.273000e+01   NaN
Open       1.164500e+02  7.724000e+02     783.330017  6.286000e+01   NaN
Volume     1.503950e+07  3.153500e+06  742200.000000  1.018160e+07   NaN

In [107]:
p2.minor_xs('Volume')

                   AAPL        AMZN        GOOG         MSFT  YHOO
Date
2016-12-30   30586300.0   4139400.0   1770000.0   25579900.0   NaN
2016-12-29   15039500.0   3153500.0    742200.0   10181600.0   NaN
2016-12-28   20905900.0   3301000.0   1153800.0   14653300.0   NaN
2016-12-27   18296900.0   2638700.0    789100.0   11763200.0   NaN
2016-12-23   14181200.0   1976900.0    623400.0   12398000.0   NaN
2016-12-22   26085900.0   2543600.0    972200.0   22176600.0   NaN
2016-12-21   23783200.0   2044600.0   1211300.0   17096300.0   NaN
2016-12-20   21425000.0   2703600.0    951000.0   26028400.0   NaN
2016-12-19   27779400.0   3113200.0   1232100.0   34338200.0   NaN
2016-12-16   44351100.0   4828700.0   2428300.0   42204700.0   NaN
2016-12-15   46524500.0   3801900.0   1626500.0   27669900.0   NaN
2016-12-14   34031800.0   5454800.0   1704200.0   30352700.0   NaN
2016-12-13   43733800.0   5285300.0   2145200.0   35718900.0   NaN
2016-12-12   26374400.0   2963900.0   2104100.0   20198100.0   NaN
2016-12-09   34402600.0   2470900.0   1821900.0   27349400.0   NaN
2016-12-08   27068300.0   3189600.0   1488100.0   21220800.0   NaN
2016-12-07   29998700.0   3684900.0   1761000.0   30809000.0   NaN
2016-12-06   26195500.0   3794700.0   1690700.0   19907000.0   NaN
2016-12-05   34324500.0   4314700.0   1394200.0   23552700.0   NaN
2016-12-02   26528000.0   3561300.0   1452500.0   25515700.0   NaN
2016-12-01   37086900.0   4666000.0   3017900.0   34542100.0   NaN
2016-11-30   36162300.0   4625900.0   2392900.0   34655400.0   NaN
2016-11-29   28528800.0   3272300.0   1616600.0   22366700.0   NaN
2016-11-28   27194000.0   4438800.0   2188200.0   20732600.0   NaN
2016-11-25   11475900.0   1837100.0    587400.0    8409600.0   NaN
2016-11-23   27426400.0   3522500.0   1477400.0   21847200.0   NaN
2016-11-22   25965500.0   5311300.0   1593100.0   23206700.0   NaN
2016-11-21   29264600.0   4614600.0   1330600.0   19652600.0   NaN
2016-11-18   28428900.0   4373400.0   1547100.0   27686300.0   NaN
2016-11-17   27632000.0   3690100.0   1304000.0   32132700.0   NaN
...                 ...         ...         ...          ...   ...
2010-02-16  135934400.0   8932700.0   7356200.0   51935600.0   NaN
2010-02-12  163867200.0   8073500.0   4589000.0   81117200.0   NaN
2010-02-11  137586400.0   8343500.0   4851300.0   65993700.0   NaN
2010-02-10   92590400.0   6233200.0   5383700.0   48591300.0   NaN
2010-02-09  158221700.0   9223000.0   5675700.0   59195800.0   NaN
2010-02-08  119567700.0   9890200.0   5423500.0   52820600.0   NaN
2010-02-05  212576700.0  11024800.0   6353000.0   80960100.0   NaN
2010-02-04  189413000.0  12784000.0   6799200.0   77850000.0   NaN
2010-02-03  153832000.0  12405900.0   6037000.0   61397900.0   NaN
2010-02-02  174585600.0  23079700.0   8245600.0   54413700.0   NaN
2010-02-01  187469100.0  37774400.0   4530800.0   85931100.0   NaN
2010-01-29  311488100.0  29471300.0   8334700.0  193888500.0   NaN
2010-01-28  293375600.0  27293100.0   6500100.0  117513700.0   NaN
2010-01-27  430642100.0  14765300.0   7980200.0   63949500.0   NaN
2010-01-26  466777500.0   9559000.0   8767600.0   66639900.0   NaN
2010-01-25  266424900.0  12023900.0   8897200.0   63373000.0   NaN
2010-01-22  220441900.0  11568900.0  13689200.0  102004600.0   NaN
2010-01-21  152038600.0   9970600.0  12697400.0   73086700.0   NaN
2010-01-20  153038200.0   9074700.0   6543600.0   54849500.0   NaN
2010-01-19  182501900.0   8892600.0   8689500.0   46575700.0   NaN
2010-01-15  148516900.0  15376500.0  10939600.0   79913200.0   NaN
2010-01-14  108223500.0   9774900.0   8535300.0   63228100.0   NaN
2010-01-13  151473000.0  10723200.0  13077600.0   51863500.0   NaN
2010-01-12  148614900.0   9096300.0   9769600.0   65912100.0   NaN
2010-01-11  115557400.0   8779400.0  14519600.0   68754700.0   NaN
2010-01-08  111902700.0   9830500.0   9509900.0   51197400.0   NaN
2010-01-07  119282800.0  11030200.0  12912000.0   50559700.0   NaN
2010-01-06  138040000.0   7178800.0   8009000.0   58182400.0   NaN
2010-01-05  150476200.0   8851900.0   6048500.0   49749600.0   NaN
2010-01-04  123432400.0   7599900.0   3937800.0   38409100.0   NaN

[1762 rows x 5 columns]

# The `.swapaxes()` method

In [111]:
p2 = p.swapaxes('items', 'minor')
p2.axes

/home/george/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object'),
 DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
                '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
                '2016-12-19', '2016-12-16',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')]

In [112]:
p2['MSFT']

            Adj Close      Close       High        Low       Open       Volume
Date
2016-12-30  60.782795  62.139999  62.990002  62.029999  62.959999   25579900.0
2016-12-29  61.526207  62.900002  63.200001  62.730000  62.860001   10181600.0
2016-12-28  61.614235  62.990002  63.400002  62.830002  63.400002   14653300.0
2016-12-27  61.897896  63.279999  64.070000  63.209999  63.209999   11763200.0
2016-12-23  61.858780  63.240002  63.540001  62.799999  63.450001   12398000.0
2016-12-22  62.162003  63.549999  64.099998  63.410000  63.840000   22176600.0
2016-12-21  62.152225  63.540001  63.700001  63.119999  63.430000   17096300.0
2016-12-20  62.152225  63.540001  63.799999  63.029999  63.689999   26028400.0
2016-12-19  62.230476  63.619999  63.770000  62.419998  62.560001   34338200.0
2016-12-16  60.939304  62.299999  62.950001  62.119999  62.950001   42204700.0
2016-12-15  61.213192  62.580002  63.150002  62.299999  62.700001   27669900.0
2016-12-14  61.311005  62.680000  63.450001  62.529999  63.000000   30352700.0
2016-12-13  61.604454  62.980000  63.419998  62.240002  62.500000   35718900.0
2016-12-12  60.812145  62.169998  62.299999  61.720001  61.820000   20198100.0
2016-12-09  60.616516  61.970001  61.990002  61.130001  61.180000   27349400.0
2016-12-08  59.677479  61.009998  61.580002  60.840000  61.299999   21220800.0
2016-12-07  60.029621  61.369999  61.380001  59.799999  60.009998   30809000.0
2016-12-06  58.640636  59.950001  60.459999  59.799999  60.430000   19907000.0
2016-12-05  58.904739  60.220001  60.590000  59.560001  59.700001   23552700.0
2016-12-02  57.955917  59.250000  59.470001  58.799999  59.080002   25515700.0
2016-12-01  57.907009  59.200001  60.150002  58.939999  60.110001   34542100.0
2016-11-30  58.943859  60.259998  61.180000  60.220001  60.860001   34655400.0
2016-11-29  59.755737  61.090000  61.410000  60.520000  60.650002   22366700.0
2016-11-28  59.286217  60.610001  61.020000  60.209999  60.340000   20732600.0
2016-11-25  59.207962  60.529999  60.529999  60.130001  60.299999    8409600.0
2016-11-23  59.080803  60.400002  61.099998  60.250000  61.009998   21847200.0
2016-11-22  59.785076  61.119999  61.259998  60.810001  60.980000   23206700.0
2016-11-21  59.530758  60.860001  60.970001  60.419998  60.500000   19652600.0
2016-11-18  59.031898  60.349998  61.139999  60.299999  60.779999   27686300.0
2016-11-17  59.315563  60.639999  60.950001  59.970001  60.410000   32132700.0
...               ...        ...        ...        ...        ...          ...
2010-02-16  23.143934  28.350000  28.370001  28.020000  28.129999   51935600.0
2010-02-12  22.694933  27.930000  28.059999  27.580000  27.809999   81117200.0
2010-02-11  22.849319  28.120001  28.400000  27.700001  27.930000   65993700.0
2010-02-10  22.743685  27.990000  28.240000  27.840000  28.030001   48591300.0
2010-02-09  22.759937  28.010000  28.340000  27.750000  27.969999   59195800.0
2010-02-08  22.524290  27.719999  28.080000  27.570000  28.010000   52820600.0
2010-02-05  22.768064  28.020000  28.280001  27.570000  28.000000   80960100.0
2010-02-04  22.621799  27.840000  28.500000  27.809999  28.379999   77850000.0
2010-02-03  23.263727  28.629999  28.790001  28.120001  28.260000   61397900.0
2010-02-02  23.125591  28.459999  28.500000  28.139999  28.370001   54413700.0
2010-02-01  23.084957  28.410000  28.480000  27.920000  28.389999   85931100.0
2010-01-29  22.898075  28.180000  29.920000  27.660000  29.900000  193888500.0
2010-01-28  23.694384  29.160000  29.870001  28.889999  29.840000  117513700.0
2010-01-27  24.108797  29.670000  29.820000  29.020000  29.350000   63949500.0
2010-01-26  23.970657  29.500000  29.850000  29.090000  29.200001   66639900.0
2010-01-25  23.824394  29.320000  29.660000  29.100000  29.240000   63373000.0
2010-01-22  23.531868  28.959999  30.200001  28.840000  30.000000  102004600.0
2010-01-21  24.385063  30.010000  30.719999  30.000000  30.610001   73086700.0
2010-01-20  24.856350  30.590000  30.940001  30.309999  30.809999   54849500.0
2010-01-19  25.270758  31.100000  31.240000  30.680000  30.750000   46575700.0
2010-01-15  25.075747  30.860001  31.240000  30.709999  31.080000   79913200.0
2010-01-14  25.157001  30.959999  31.100000  30.260000  30.309999   63228100.0
2010-01-13  24.661339  30.350000  30.520000  30.010000  30.260000   51863500.0
2010-01-12  24.433821  30.070000  30.400000  29.910000  30.150000   65912100.0
2010-01-11  24.596333  30.270000  30.760000  30.120001  30.709999   68754700.0
2010-01-08  24.913233  30.660000  30.879999  30.240000  30.280001   51197400.0
2010-01-07  24.742592  30.450001  30.700001  30.190001  30.629999   50559700.0
2010-01-06  25.002611  30.770000  31.080000  30.520000  30.879999   58182400.0
2010-01-05  25.157001  30.959999  31.100000  30.639999  30.850000   49749600.0
2010-01-04  25.148876  30.950001  31.100000  30.590000  30.620001   38409100.0

[1762 rows x 6 columns]

In [114]:
p2.major_xs(p2.major_axis[2])

                   AAPL          AMZN          GOOG          MSFT  YHOO
Adj Close  1.149121e+02  7.721300e+02  7.850500e+02  6.161424e+01   NaN
Close      1.167600e+02  7.721300e+02  7.850500e+02  6.299000e+01   NaN
High       1.180200e+02  7.800000e+02  7.942300e+02  6.340000e+01   NaN
Low        1.162000e+02  7.705000e+02  7.832000e+02  6.283000e+01   NaN
Open       1.175200e+02  7.762500e+02  7.937000e+02  6.340000e+01   NaN
Volume     2.090590e+07  3.301000e+06  1.153800e+06  1.465330e+07   NaN

In [115]:
p2.minor_xs('Close')

                  AAPL        AMZN        GOOG       MSFT  YHOO
Date
2016-12-30  115.820000  749.869995  771.820007  62.139999   NaN
2016-12-29  116.730003  765.150024  782.789978  62.900002   NaN
2016-12-28  116.760002  772.130005  785.049988  62.990002   NaN
2016-12-27  117.260002  771.400024  791.549988  63.279999   NaN
2016-12-23  116.519997  760.590027  789.909973  63.240002   NaN
2016-12-22  116.290001  766.340027  791.260010  63.549999   NaN
2016-12-21  117.059998  770.599976  794.559998  63.540001   NaN
2016-12-20  116.949997  771.219971  796.419983  63.540001   NaN
2016-12-19  116.639999  766.000000  794.200012  63.619999   NaN
2016-12-16  115.970001  757.770020  790.799988  62.299999   NaN
2016-12-15  115.820000  761.000000  797.849976  62.580002   NaN
2016-12-14  115.190002  768.820007  797.070007  62.680000   NaN
2016-12-13  115.190002  774.340027  796.099976  62.980000   NaN
2016-12-12  113.300003  760.119995  789.270020  62.169998   NaN
2016-12-09  113.949997  768.659973  789.289978  61.970001   NaN
2016-12-08  112.120003  767.330017  776.419983  61.009998   NaN
2016-12-07  111.029999  770.419983  771.190002  61.369999   NaN
2016-12-06  109.949997  764.719971  759.109985  59.950001   NaN
2016-12-05  109.110001  759.359985  762.520020  60.220001   NaN
2016-12-02  109.900002  740.340027  750.500000  59.250000   NaN
2016-12-01  109.489998  743.650024  747.919983  59.200001   NaN
2016-11-30  110.519997  750.570007  758.039978  60.259998   NaN
2016-11-29  111.459999  762.520020  770.840027  61.090000   NaN
2016-11-28  111.570000  766.770020  768.239990  60.610001   NaN
2016-11-25  111.790001  780.369995  761.679993  60.529999   NaN
2016-11-23  111.230003  780.119995  760.989990  60.400002   NaN
2016-11-22  111.800003  785.330017  768.270020  61.119999   NaN
2016-11-21  111.730003  780.000000  769.200012  60.860001   NaN
2016-11-18  110.059998  760.159973  760.539978  60.349998   NaN
2016-11-17  109.949997  756.400024  771.229980  60.639999   NaN
...                ...         ...         ...        ...   ...
2010-02-16   29.057142  117.529999  268.901062  28.350000   NaN
2010-02-12   28.625713  119.660004  264.837494  27.930000   NaN
2010-02-11   28.381428  120.089996  266.466888  28.120001   NaN
2010-02-10   27.874287  117.360001  265.498199  27.990000   NaN
2010-02-09   28.027143  118.029999  266.486755  28.010000   NaN
2010-02-08   27.731428  116.830002  265.011353  27.719999   NaN
2010-02-05   27.922857  117.389999  263.928406  28.020000   NaN
2010-02-04   27.435715  115.940002  261.687958  27.840000   NaN
2010-02-03   28.461428  119.099998  268.662598  28.629999   NaN
2010-02-02   27.980000  118.120003  263.843964  28.459999   NaN
2010-02-01   27.818571  118.870003  264.787811  28.410000   NaN
2010-01-29   27.437143  125.410004  263.257751  28.180000   NaN
2010-01-28   28.469999  126.029999  265.418701  29.160000   NaN
2010-01-27   29.697144  122.750000  269.298462  29.670000   NaN
2010-01-26   29.420000  119.480003  269.457428  29.500000   NaN
2010-01-25   29.010000  120.309998  268.255249  29.320000   NaN
2010-01-22   28.250000  121.430000  273.227905  28.959999   NaN
2010-01-21   29.724285  126.620003  289.606384  30.010000   NaN
2010-01-20   30.247143  125.779999  288.329681  30.590000   NaN
2010-01-19   30.719999  127.610001  291.911407  31.100000   NaN
2010-01-15   29.418571  127.139999  288.126007  30.860001   NaN
2010-01-14   29.918571  127.349998  293.019196  30.959999   NaN
2010-01-13   30.092857  129.110001  291.648102  30.350000   NaN
2010-01-12   29.674286  127.349998  293.332153  30.070000   NaN
2010-01-11   30.015715  130.309998  298.612823  30.270000   NaN
2010-01-08   30.282858  133.520004  299.064880  30.660000   NaN
2010-01-07   30.082857  130.000000  295.130463  30.450001   NaN
2010-01-06   30.138571  132.250000  302.164703  30.770000   NaN
2010-01-05   30.625713  134.690002  309.978882  30.959999   NaN
2010-01-04   30.572857  133.899994  311.349976  30.950001   NaN

[1762 rows x 5 columns]