<a href="https://colab.research.google.com/github/geocarvalho/python-ds/blob/master/alura/regressao/alura_regressao_linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

# [Beer Consumption - Sao Paulo: Predict beer consumption](https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo)

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/geocarvalho/python-ds/master/alura/regressao/Consumo_cerveja.csv", sep=';')
df.head()

         data  temp_media  temp_min  temp_max  chuva  fds  consumo
0  01/01/2015       27.30      23.9      32.5    0.0    0    25461
1  02/01/2015       27.02      24.5      33.5    0.0    0    28972
2  03/01/2015       24.82      22.4      29.9    0.0    1    30814
3  04/01/2015       23.98      21.5      28.6    1.2    1    29799
4  05/01/2015       23.82      21.0      28.3    0.0    0    28900

In [7]:
df.shape

(365, 7)

In [10]:
df.describe().round(2)

       temp_media  temp_min  temp_max   chuva     fds   consumo
count      365.00    365.00    365.00  365.00  365.00    365.00
mean        21.23     17.46     26.61    5.20    0.28  25401.37
std          3.18      2.83      4.32   12.42    0.45   4399.14
min         12.90     10.60     14.50    0.00    0.00  14343.00
25%         19.02     15.30     23.80    0.00    0.00  22008.00
50%         21.38     17.90     26.90    0.00    0.00  24867.00
75%         23.28     19.60     29.40    3.20    1.00  28631.00
max         28.86     24.50     36.50   94.80    1.00  37937.00

In [11]:
# Matriz de correlação
df.corr().round(4)

            temp_media  temp_min  temp_max   chuva     fds  consumo
temp_media      1.0000    0.8628    0.9225  0.0244 -0.0508   0.5746
temp_min        0.8628    1.0000    0.6729  0.0986 -0.0595   0.3925
temp_max        0.9225    0.6729    1.0000 -0.0493 -0.0403   0.6427
chuva           0.0244    0.0986   -0.0493  1.0000  0.0016  -0.1938
fds            -0.0508   -0.0595   -0.0403  0.0016  1.0000   0.5060
consumo         0.5746    0.3925    0.6427 -0.1938  0.5060   1.0000